<%- include( '../partials/header') %>

<div class="header">
    <img class="profile-pic" src="<%= image %>" alt="image" />
</div>
<p class="name"><%= name %> </p>

<%- include( '../partials/friendImages' ) %>

<%- include( '../partials/fffriends' ) %>

<%- include( '../partials/footer') %>

